@use './partials/variable.scss' as *;

.eb_nav_section {
    margin-top: 2.5rem;
}

.eb_input {

    input {
        margin-right: 1rem;
        width: 60%;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid $grey-dark;
    }
}

.eb_copyright {
    margin-top: auto;
    color: $grey-dark;
    font-size: 0.8rem;
}

.eb_socials {

    a {
        padding: 1rem;

        svg {
            fill: $style-color;
            width: 1.2rem;
            height: 1.2rem;
            transition: 0.3s;

        }

        &:hover svg {
            box-shadow: 0px 0px 8px 9px $style-color;
            fill: $ligth;
            background: $style-color;
            border-radius: 50%;
        }

    }
}