@use './partials/variable.scss' as *;

#eb_nav_section {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;

    li {
        margin: 0.5rem 0.7rem;
        height: 2rem;

        svg {
            fill: $style-color;
        }

        a {
            color: $style-color;
            padding: 0;
            padding-bottom: 0.25rem;
            transition: 0.15s;
        }

        a:hover {
            border-bottom: 3px solid $style-color;
        }
    }

}

#eb_jumbotron {
    position: relative;

    img {
        max-width: 100%;
        height: max-content;
    }

    .eb_overview {
        width: 35%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(0, -50%);


        h6,
        p {
            color: $grey-dark;
        }

        h6 {
            font-size: 0.7rem;
        }

        p {
            font-size: 1.2rem;
        }

        h1 {
            font-family: 'Roboto Serif', serif;
            font-weight: 800;
            color: $style-color;

        }

        button {
            color: $style-color;
            padding: 0.5rem 1rem;
            background-color: $ligth;
            border: none;
            border-radius: 0.5rem;
            transition: 0.4s;

            &:hover {
                background-color: $style-color;
                color: $ligth;
            }
        }
    }

}

#offers {
    width: fit-content;
    position: fixed;
    z-index: 999;
    top: 15vh;
    right: 1rem;
    text-align: center;

    div {
        cursor: pointer;
        border-radius: 0.3rem;
        background-color: $ligth;
        box-shadow: 0 0 1rem $grey-dark;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1rem;

        p {
            margin: 0;
            font-size: 0.7rem;
            font-weight: 500;
        }

        .eb_value,
        .eb_price {
            color: $price-color;
            font-weight: 700;
        }

        .eb_value {
            vertical-align: super;
            font-size: 0.8rem;
            padding-bottom: 0.5rem;
        }

        .eb_price {
            font-size: 1.3rem;
        }

    }
}

#eb_top-page {
    position: fixed;
    z-index: 999;
    bottom: 1rem;
    right: 1rem;
    transform: rotate(90deg) scale(0.8);

    a {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.8);
        color: $ligth;
        font-size: 2rem;
        padding: 0 1.2rem 0.6rem 1.2rem;
        border-radius: 0.5rem;
    }
}